
nav{
justify-content: center;
display: flex;
 color:#BB86FC;
    /* display: block; */
    padding: 8px;
    width: 30%;
    /* float: left; */
    top: 0%;
    border-style: solid;
    border-top:black;
    border-left: black;
    border-right: black;
    margin-left: 33%;

}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
  
  }
  
  li {
    float: left;
    left: 30%;
    font-size: 250%;
    

  }
  
  li a {
    display: block;
    color:  lightgray;
    text-align: center;
    padding: 14px 30px;
    text-decoration: none;
  }
  
  /* Change the link color to #111 (black) on hover */
  li a:hover {
    background-color: #111;
  }
 .nav{
   justify-content: center;
   display: inline;
 }