body{
    background-color: black;
}
.wrapper{
margin: 20px;
}
/* body {
    background-image: url('../assets/earth.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
} */